.nav_container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
  align-items: center;
    margin-bottom: 30px;
}

.images {
    float: left;

}

.logo {

    height: 35px;
}

.right {
    margin: 15px 0px;
    font-size: 20px;
    text-decoration: none;
}

.home {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 23px;
}

@media (max-width:553px) {
    .nav_container {
        padding: 15px 10px;
    }

    .logo {
        height: 25px;
    }
    .right{
        margin: 10px 0px;
    }
}