* {
    box-sizing: border-box;
}
.heds{
    text-align: center;
}
.hed{
    margin-top: 100px;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 25px;
}
.noreposP{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px ;
    font-weight: 600;
}
.repose{
    margin-top: 70px;
  
}
.repos{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    gap:20px 20px;
    padding:20px;
}
.repos_single{
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px;
   
}

@media (max-width: 767px){
    .repos{
        grid-template-columns:repeat(2,1fr);
        padding: 15px;
    }
    .repos_single{
       
    }
}
@media (max-width: 650px){
    .repos{
        gap: 15px;
    }
    .repos_single{
        width: 100%;
     
     }
}
@media(max-width:550px){
    .repos{
        grid-template-columns: repeat(1,1fr);
        padding: 10px;
    }
    .repos_single{
       width: 100%;
    }
   
}
@media(max-width:400px){
    .repos{
        padding:5px ;
    }
}
.file-logo{
    width: 60px;
}

.name{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.description{
    height: 33px;
    /* max-height: 45px; */
    overflow:scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.description::-webkit-scrollbar{
    display: none;
}
.creat{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    color: rgb(49, 41, 41);
    
}

.span{
    height: 30px;
    margin-right: 17px;
    font-family: Arial, Helvetica, sans-serif;

}
.info-logo{
    width: 15px;
    margin-right: 5px;
}
.info{
    margin-top: 25px;
}
.visit{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}